# Node / React
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secret / Key files
backend/serviceAccountKey.json
*.key
*.pem
*.p12
*.json    # only if it contains secrets

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs/
*.log
backend/serviceAccountKey.json